serverless.yml
service: lambda-step-func-demo

plugins:
  - serverless-step-functions

provider:
  name: aws
  runtime: nodejs6.10
  region: us-east-1
  stage: dev

custom:
  region: ${opt:region, self:provider.region}
  stage: ${opt:stage, self:provider.stage}
  accountId: xxxxxxxx

functions:
  add:
    handler: functions/add.handler
    timeout: 1

  subtract:
    handler: functions/subtract.handler
    timeout: 1

  double:
    handler: functions/double.handler
    timeout: 1

stepFunctions:
  stateMachines:
    LambdaStepFuncDemo:      
      name: LambdaStepFunctionDemo
      definition:
        Comment: "Simple demo of AWS Lambda and AWS Step Functions working together"
        StartAt: choose
        States:
          choose:
            Type: Choice
            Default: add
            Choices:
              - And: 
                  - Variable: $.x
                    NumericGreaterThanEquals: 42
                  - Variable: $.y
                    NumericLessThan: 42
                Next: subtract
          add:
            Type: Task
            Resource: arn:aws:lambda:${self:custom.region}:${self:custom.accountId}:function:${self:service}-${self:custom.stage}-add
            Next: double
            ResultPath: $.n
          subtract:
            Type: Task
            Resource: arn:aws:lambda:${self:custom.region}:${self:custom.accountId}:function:${self:service}-${self:custom.stage}-subtract
            Next: double
            ResultPath: $.n
          double:
            Type: Task
            Resource: arn:aws:lambda:${self:custom.region}:${self:custom.accountId}:function:${self:service}-${self:custom.stage}-double
            InputPath: $.n
            Retry: 
              - ErrorEquals:
                  - States.Timeout
                IntervalSeconds: 1
                BackoffRate: 2.0
                MaxAttempts: 2
            Catch: 
              - ErrorEquals:
                  - NumberIsTooBig
                ResultPath: $.error
                Next: numberIsTooBig
            End: true
          numberIsTooBig:
            Type: Fail